body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron {
  background-color: white;
}

.well {
  background-color: white;
}

#C {
  display: none;
}

#JavaScript {
  display: none;
}

#Python {
  display: none;
}