body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  width: 100%;
  float: right;
}

select {
  width: 100%;
}

.jumbotron {
  background-color: white;
}

.well {
  background-color: white;
}

#c {
  display: none;
}

#javascript {
  display: none;
}

#no {
  display: none;
}

#python {
  display: none;
}